<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>main character-jump-left_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{259,434}}</string>
        <key>offset</key>
        <string>{1.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44,5},{259,434}}</string>
        <key>sourceSize</key>
        <string>{344,450}</string>
      </dict>
      <key>main character-jump-left_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,434},{286,432}}</string>
        <key>offset</key>
        <string>{-11,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,4},{286,432}}</string>
        <key>sourceSize</key>
        <string>{344,450}</string>
      </dict>
      <key>main character-jump-left_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,0},{271,432}}</string>
        <key>offset</key>
        <string>{-3.5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33,5},{271,432}}</string>
        <key>sourceSize</key>
        <string>{344,450}</string>
      </dict>
      <key>main character-jump-left_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,866},{287,431}}</string>
        <key>offset</key>
        <string>{-10.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,4},{287,431}}</string>
        <key>sourceSize</key>
        <string>{344,450}</string>
      </dict>
      <key>main character-jump-left_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,432},{278,430}}</string>
        <key>offset</key>
        <string>{-15,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,1},{278,430}}</string>
        <key>sourceSize</key>
        <string>{344,450}</string>
      </dict>
      <key>main character-jump-left_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,0},{309,410}}</string>
        <key>offset</key>
        <string>{-17.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,25},{309,410}}</string>
        <key>sourceSize</key>
        <string>{344,450}</string>
      </dict>
      <key>main character-jump-left_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1297},{340,397}}</string>
        <key>offset</key>
        <string>{1,-17.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,44},{340,397}}</string>
        <key>sourceSize</key>
        <string>{344,450}</string>
      </dict>
      <key>main character-jump-left_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1694},{316,363}}</string>
        <key>offset</key>
        <string>{2,-28.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{16,72},{316,363}}</string>
        <key>sourceSize</key>
        <string>{344,450}</string>
      </dict>
      <key>main character-jump-left_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,862},{267,388}}</string>
        <key>offset</key>
        <string>{3.5,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,46},{267,388}}</string>
        <key>sourceSize</key>
        <string>{344,450}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>jump_left.png</string>
      <key>size</key>
      <string>{839,2010}</string>
      <key>textureFileName</key>
      <string>jump_left</string>
    </dict>
  </dict>
</plist>
