<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>main character-jump-left_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{259,434}}</string>
        <key>offset</key>
        <string>{2.5,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{69,10},{259,434}}</string>
        <key>sourceSize</key>
        <string>{392,455}</string>
      </dict>
      <key>main character-jump-left_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,0},{286,432}}</string>
        <key>offset</key>
        <string>{-10,2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{43,9},{286,432}}</string>
        <key>sourceSize</key>
        <string>{392,455}</string>
      </dict>
      <key>main character-jump-left_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,259},{271,432}}</string>
        <key>offset</key>
        <string>{-2.5,1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{58,10},{271,432}}</string>
        <key>sourceSize</key>
        <string>{392,455}</string>
      </dict>
      <key>main character-jump-left_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,286},{287,431}}</string>
        <key>offset</key>
        <string>{-9.5,3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{43,9},{287,431}}</string>
        <key>sourceSize</key>
        <string>{392,455}</string>
      </dict>
      <key>main character-jump-left_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,530},{278,430}}</string>
        <key>offset</key>
        <string>{-14,6.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{43,6},{278,430}}</string>
        <key>sourceSize</key>
        <string>{392,455}</string>
      </dict>
      <key>main character-jump-left_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,573},{267,430}}</string>
        <key>offset</key>
        <string>{3.5,2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{66,10},{267,430}}</string>
        <key>sourceSize</key>
        <string>{392,455}</string>
      </dict>
      <key>main character-jump-left_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,808},{283,424}}</string>
        <key>offset</key>
        <string>{4.5,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{59,10},{283,424}}</string>
        <key>sourceSize</key>
        <string>{392,455}</string>
      </dict>
      <key>main character-jump-left_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,840},{290,415}}</string>
        <key>offset</key>
        <string>{5,10}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{56,10},{290,415}}</string>
        <key>sourceSize</key>
        <string>{392,455}</string>
      </dict>
      <key>main character-jump-left_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1091},{309,410}}</string>
        <key>offset</key>
        <string>{-16.5,-7.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{25,30},{309,410}}</string>
        <key>sourceSize</key>
        <string>{392,455}</string>
      </dict>
      <key>main character-jump-left_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,1130},{287,408}}</string>
        <key>offset</key>
        <string>{4.5,13.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{57,10},{287,408}}</string>
        <key>sourceSize</key>
        <string>{392,455}</string>
      </dict>
      <key>main character-jump-left_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1400},{280,402}}</string>
        <key>offset</key>
        <string>{4,16.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{60,10},{280,402}}</string>
        <key>sourceSize</key>
        <string>{392,455}</string>
      </dict>
      <key>main character-jump-left_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,1417},{275,398}}</string>
        <key>offset</key>
        <string>{3.5,18.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{62,10},{275,398}}</string>
        <key>sourceSize</key>
        <string>{392,455}</string>
      </dict>
      <key>main character-jump-left_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1680},{340,397}}</string>
        <key>offset</key>
        <string>{2,-20}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{28,49},{340,397}}</string>
        <key>sourceSize</key>
        <string>{392,455}</string>
      </dict>
      <key>main character-jump-left_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,1692},{267,361}}</string>
        <key>offset</key>
        <string>{4.5,-4}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{67,51},{267,361}}</string>
        <key>sourceSize</key>
        <string>{392,455}</string>
      </dict>
      <key>main character-jump-left_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,1959},{316,355}}</string>
        <key>offset</key>
        <string>{3,-27}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{41,77},{316,355}}</string>
        <key>sourceSize</key>
        <string>{392,455}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>jump_left.png</string>
      <key>size</key>
      <string>{866,2275}</string>
      <key>textureFileName</key>
      <string>jump_left</string>
    </dict>
  </dict>
</plist>
